body{
    margin: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    align-items: center;
}

.container{
    max-width: 500px;
    /* height: 700px; */
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
}

#input-display{
    width: 100%;
    padding: 20px;
    background: hsl(0, 0%, 20%);
    font-size: 5rem;
    color: white;
    border: none;
    border-radius: 10px;
}

.button{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: hsl(0, 0%, 30%);
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 3rem;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
}

.operator{
    background-color: hsl(35, 100%, 55%);
}

.button .btn:hover{
    background-color: hsl(0, 0%, 40%);
}

.button .btn:active{
    background-color: hsl(0, 0%, 50%);
} 

.btn.operator{
    background-color: hsl(35, 100%, 55%);
}

.btn.operator:hover{
    background-color: hsl(35, 100%, 65%);
}

.btn.operator:active{
    background-color: hsl(35, 100%, 75%);
}

.operator:hover{
    background-color: hsl(35, 100%, 65%);
}

.operator:active{
    background-color: hsl(35, 100%, 75%);
}


@media (max-width: 500px) {
    .container{
        max-width: 350px;
        /* height: 700px; */
        /* background-color: black;
        border-radius: 20px;
        overflow: hidden; */
    }

    #input-display{
        width: 100%;
        padding: 10px;
        font-size: 3rem;
    }

    button{
        width: 70px;
        height: 70px;
        font-size: 2rem;
        padding: 5px;
        font-weight: bold;
    }

    .button{
        gap: 10px;
        padding: 5px;
    }
}